<h3>Editar Repositório</h1>

<%= render 'form', repositorio: @repositorio %>

<%= link_to 'Mostrar', @repositorio, class: 'btn btn-info' %> |
<%= link_to 'Voltar', :back, class: 'btn btn-dark active' %>
