<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @genotipo.nome %>
</p>
<% if session[:perfil] == "Administrador" %>
  <%= link_to 'Editar', edit_genotipo_path(@genotipo), class: 'btn btn-warning' %> 
<% end %>
<%= link_to 'Voltar', genotipos_path, class: 'btn btn-dark active' %>
