<h3>Editar associação gene secundário</h1>

<%= render 'form', genesecundario: @genesecundario %>

<%= link_to 'Mostrar', @genesecundario, class: 'btn btn-info'  %> |
<%= link_to 'Voltar', genesecundarios_path(:idalvo => @genesecundario.genealvo_id), class: 'btn btn-dark active' %>
