
<div class="field">
    <%= form.label :primer_id, "Indique o primer" %>
    <%= form.select("primer_id", Primer.all.collect {|p| [p.descricao, p.id]}) %> 
    <%= form.check_box :_destroy  %> Apagar
</div>
