<h3>Nova Linhagem</h1>

<%= render 'form', linhagem: @linhagem %>

<br>
<h5>Obs.: Ao fazer um novo cadastro, seu usuário ficará automaticamente vinculado a esse registro. Sujeito a aprovação dos administradores. </h5>
<br>

<%= link_to 'Voltar', :back, class: 'btn btn-dark active'  %>
