<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @fenotipo.nome %>
</p>

<% if session[:perfil] == "Administrador" %>
  <%= link_to 'Editar', edit_fenotipo_path(@fenotipo), class: 'btn btn-warning' %> 
<% end %>
<%= link_to 'Voltar', :back, class: 'btn btn-dark active'  %>
